.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -110px;
  align-items: center;
  margin-right: 30px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu div a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
  margin-right: 30px;
}
.logo {
  height: 80px;
  margin: 10px;
}
button {
  border: 0px;
  /* color: var(--color-primary); */
  font-weight: 600;
}
button:disabled {
  color: black;
  font-weight: 600;
}
.loginButton button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-color: solid black;
  border-radius: 20px;
  color: ligth-dark (rgb(92, 111, 135), white);
  margin-right: 30px;
}
.elements {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
